.info-forms__wrapper {
  display: flex;
  flex-direction: column;
  width: 320px;
  margin: 0 auto;
  box-sizing: border-box;
  padding-bottom: 70px;
}

.info-forms__send {
  position: relative;
  width: 280px;
  border: none;
  background-color: #68b738;
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: pointer;
  margin: 0 auto;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: #ffffff;
}

.info-forms__send--element::before {
  content: "* – Обязательные поля";
  position: absolute;
  bottom: -45px;
  right: 25%;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: #444444;
  text-transform: none;
}

.info-forms__send--big {
  text-transform: uppercase;
}
